@model WebApplication7.Models.Owner
@{
    ViewBag.Title = "Start";
}

<h2>Select your choice</h2>
@Html.ActionLink("Customer","CustomerLogin","Customer")
@Html.ActionLink("Owner","OwnerPage","Owner")
@Html.ActionLink("Bookings","AddBooking","booking")

