@model WebApplication7.Models.Owner
@{
    ViewBag.Title = "OwnerPage";
}

<h2>Welcome </h2>
<h1>Register new Owner</h1>
@Html.ActionLink("CLICK Here", "AddOwner", "Owner")
<h1>Register new Vehicle</h1>
@Html.ActionLink("CLICK Here", "AddVehicle", "Owner")


