@model WebApplication7.Models.Customer
@{
    ViewBag.Title = "CustomerLogin";
}

<h2>BOOKING A Truck</h2>
@Html.ActionLink("click here","AddBooking","Booking")<br />

<h2> Customer registration</h2>
@Html.ActionLink("Click HERE","AddCustomer","Customer")


